__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
dist/
build/
.eggs/
*.whl
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
venv/
.venv/
env/
.env
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
